@charset "UTF-8";

body{
    background: url(../images/white.jpg) no-repeat; 
    background-size: cover; 


body>article{
    text-shadow: 2px 2px 5px blue;
    
}
body > div.form{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 16px 0px rgba(57, 74, 154, 0.5);
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    margin-right:75px;
    
}
#top{
    padding-top: 15px;
}

